*
!*.yaml
!scenes
!.gitignore
secrets.yaml
known_devices.yaml
aircast.xml
entity_registry.yaml
harmony_bedroom.conf
harmony_living_room.conf
.uuid
entity_registry.yaml
home-assistant.log
home-assistant_v2.db
tts/*
appdaemon/*
.storage/*
.cloud/*
OZW_Log.txt
zwcfg_*.xml
zwscene.xml
